html {
  background: url(../images/croc.jpg) no-repeat top left;
}

#ostrich {
  position: absolute;
 
  right: 0;
  
}
@media screen and (min-width: 1196px) {
  body {
    position:absolute;
    top:100px;
  }
}

/* Write your solution here */
